<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium" allow-return-values="true" verbose="1">
    <!-- parallel="tests" -->
    <parameter name="browser" value="firefox"/>
    <parameter name="local_run" value="true"/>
    <test name="NO-GO" verbose="1" annotations="JDK">
        <parameter name="browser" value="firefox"/>
        <parameter name="local_run" value="true"/>
        <classes>
            <class name="com.carrieriq.applications.seleniumDIS.ValidatePackage" />
        </classes>
    </test>
    <test verbose="1" name="FULL" annotations="JDK">
        <parameter name="browser" value="firefox"/>
        <parameter name="local_run" value="false"/>
        <classes>
            <class name="com.carrieriq.applications.seleniumDIS.RunAllTestsPKGVal" />
        </classes>
    </test>
</suite>